.wrapper{
	display: flex;
	justify-content:center;
}
.viewPort{
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	flex-grow: 1;
	max-width:1192px;
	border-top: 2px solid darkgray;
	border-bottom: 2px solid darkgray;
}
.viewPort::-webkit-scrollbar{
	display: none;
}
.nav{
	flex-shrink: 0;
	flex-basis: 35px;
	cursor: pointer;
	background-color: grey;
	padding: 0;
	outline: none;
	opacity: .8;
	transition: opacity .2s ease-in-out;
	border:1px solid darkgray;
	font-size: 30px;
	color: #ddd;
}

.nav:hover{
	opacity: 1;
}
@media only screen and (max-width: 1323px) {
	.viewPort{
		max-width: 788px;
	}
}
@media only screen and (max-width: 918px) {
	.viewPort{
		max-width: 384px;
	}
}
@media only screen and (max-width: 515px) {
	.nav{
		font-size: 15px;
		flex-basis: 20px;
	}
	.viewPort{
		max-width: 320px;
	}
	.wrapper{
		min-width: 360px;
	}

}
