.slide{
	display: inline-block;
	vertical-align: top;
	height: 50px;
	width: 100px;
	padding: 5px;
	white-space: normal;
}
.slide:last-child{
	border-right: none;
}

.container{
	width:500px;
	height:500px;
	display: inline-block;
}
.item{
	width: 100%;
	height: 100%;
	display: inline-block;
	background-position: center center;
	transition: all 0.5s;
}